{% extends "::base.html.twig" %}

{% block title %}KladrBundle:Kladr:region{% endblock %}

{% block body %}
  {% for entity in entities %}
    <p>{{ entity.socr }}. {{ entity.name }}</p>
  {% endfor %}
{% endblock %}
